<!DOCTYPE html>
html(lang="en")
  head
    
    meta(charset="UTF-8")
    
    block head
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    block title
      title Introduction
      
    
    - var jsFile = "js/bundle.js?" + Date.now();
    script(src=jsFile async)
    
    if env == "dev"
      link(rel="stylesheet", href="css/main.css")
    else
      style!=css
      
  body
    canvas#bg-layer
    nav
      ul.navigation
        li
          a(href="/index", class=(page == "index" ? "active" : "")) Introduction
            .vector
        li
          a(href="/about", class=(page == "about" ? "active" : "")) More About Me
            .vector
        li 
          a(href="/work", class=(page == "work" ? "active" : "")) Work
            .vector
        li 
          a(href="/contact", class=(page == "contact" ? "active" : "")) Connect
            .vector
    .container
      header
        h2.brand-title Rory #[br] Duncan
        ul.professional-titles.description 
          li Web Developer,
          li Software Engineer
      content
        block content
        
    link(href="https://fonts.googleapis.com/css?family=Work+Sans|Average", rel="stylesheet")