.about
  h1 About Me 
  
  p Located in Chico, CA; I spend a greater portion of my time working on side projects, or helping friends with theirs.
  p I have a deep ambition to combine entrepreneurship and software to make society healthier and more educated—and of opening a cat cafe or cat theatre.
  h3 Other Interests
  ul.list
    li design
    li hiking
    li eSports
    li 
      a(href="https://www.youtube.com/watch?v=w6o-QyqP5gQ", target="_blank", rel="noopener") angsty music
    li video game development
    li Hayao Miyazaki
    li Wes Anderson