.about
  h1 About Me 
  
  p Located in Chico, CA; I spend a greater portion of my time working on side projects or helping friends with theirs. I have a passion for entrepreneurship and software, and their application for making society healthier and more educated.
  
  p The goal is to be a communicative, transparent, and mindful human.
  
  h3 Other Interests
  ul.interests
    li.interest foosball
    li.interest hiking / exploring
    li.interest coffee
    li.interest design
    li.interest video games and eSports
    li.interest post-punk and post-hardcore music
    li.interest video game development / interactive art
    li.interest Hayao Miyazaki / Wes Anderson films