.about
  h1 About Me 
  
  p Currently living in Chico, CA; I spend a greater portion of my time working on side projects or helping friends with theirs.

  p I tend to continiously have a side project underway, and I love to collaborate on ideas and projects.
  
  h3 General Interests
  
  ul.interests
    li.interest coffee
    li.interest hiking and exploring
    li.interest foosball
    li.interest design
    li.interest video games and eSports
    li.interest post-punk and post-hardcore music
    li.interest video game development / interactive art
    li.interest Hayao Miyazaki and Wes Anderson films