.about
  h1 About Me 
  
  p Located in Chico, CA; I spend a greater portion of my time working on side projects or helping friends with theirs. I have a passion for entrepreneurship and software, and their application for making society healthier and more educated.
  
  h3 Other Interests
  ul.interests
    li.interest hiking / exploring
    li.interest Coffee
    li.interest Design
    li.interest Video Games and eSports
    li.interest Post-Punk and Post-Hardcore Music
    li.interest Video game development / interactive art
    li.interest Hayao Miyazaki / Wes Anderson Films