.contact
  h1 Let's Connect
  p Feel free to reach out to me, by whatever means will work best for you.
  
  ul.connecting-means
    li
      a(href="mailto:rory@meow.coffee") rory@meow.coffee
    li
      a(href="https://www.linkedin.com/in/rory-duncan-53288b79/", target="_blank", rel="noopener") LinkedIn
    li
      a(href="https://www.facebook.com/rory.meow.coffee", target="_blank", rel="noopener") Facebook
    li
      a(href="https://github.com/RoryDuncan", target="_blank", rel="noopener") GitHub