- var target = "_blank";
- var rel = "noopener";
.introduction
  h1 Introduction
  .skills
    p I have a focused interest in product development—stemming from a software engineering background with auxiliary skills in design, branding, UI/UX, authorship, systems design, and architecture.
    
    p I have a passion for entrepreneurship and software, and their application for making society healthier and more educated.
    
    p I venture to be a communicative, transparent, and mindful human.
    
