.introduction
  h1 Introduction
  .skills
    p#hard-skills I have a focused interest in design, user interaction, user experience, developer training and education, process development, authoring content, and code architecture.
    p I intently work by the aphorism #[strong Strong Opinions, Weakly Held].