- var target = "_blank";
- var rel = "noopener";
.introduction
  h1 Introduction
  .skills
    p I have a focused interest in product development—from a software engineering perspective—and auxilary skills in design, UI/UX, branding, authorship, and code architecture.
    
    h2 Idealogies of Self
    ul.vantages
      li 
        h3 
          a(href="http://www.valvesoftware.com/company/Valve_Handbook_LowRes.pdf#page=32", target=target, rel=rel) T-Shaped: A compound of breadth—and depth—of knowledge.
        p Best described by Valve Software: a T-Shaped person has broad knowledge in conjunction with focused expertise.
      li
        h3 
          a(href="http://www.saffo.com/02008/07/26/strong-opinions-weakly-held/", target=target, rel=rel) Strong views, weakly held.
        p Seemingly coined by Paul Saffo; the continued use and defense of solutions until a stronger counter-argument is provided.