- var target = "_blank";
- var rel = "noopener";
.introduction
  h1 Introduction
  .skills
    p I am a well-rounded software engineerwith auxiliary skills in web application performance, prototyping, design, branding, UI/UX, systems design, and architecture.
    p I have a passion for entrepreneurship and software, and their application for making society healthier and more educated.
    p My aim is to always be a communicative, transparent, and mindful.
