.introduction
  h1 Introduction
  .skills
    p I have a focused interest in design, user interaction, user experience, education, product development, branding, authorship, and code architecture. 
  
    h2 Work Idealogy
    p I have an insatiable enthusiasm for startups and prototyping, and the optimum workplace culture.
    p I align myself with the expression #[a(href="http://www.saffo.com/02008/07/26/strong-opinions-weakly-held/", target="_blank", rel="noopener") strong views, weakly held], and am continually building myself into a magnificent #[a(href="http://www.valvesoftware.com/company/Valve_Handbook_LowRes.pdf#page=32", target="_blank", rel="noopener") T-Shape].