.work
  
  h1 Work History
  ul.work-history
  
    li.item(tab-index=0)
      ul.positions
        li.position Software Engineer
      div.business-name Work Truck Solutions
      div.location Chico, CA
      div.description
        p This is my current position. I work with a large team of talented engineers in an agile environment.
      
    li.item(tab-index=0)
      ul.positions
        li.position Director of Project Development
        li.position Fullstack Developer
        li.position Author
      div.business-name Modern Developer, Inc.
      div.location Rockwell, MD 
        | 
        i (Remote)
      div.description
        p Worked integratedly with the CEO to decisively direct meaningful content, engineering company-wide solutions, and authoring materials for students at a prestigious "Dev-Bootcamp".
      
    li.item(tab-index=0)
      ul.positions
        li.position Front End Developer
        li.position Client Support
      div.business-name Steps Marketing
      div.location Chico, CA
      div.description
        p Worked independently to develop informational web sites from design sources and provided support, maintainence, and updates using HTML, C#, LESS, MVC, .NET, & JavaScript.

    li.item(tab-index=0)
      ul.positions
        li.position Junior Web Developer
      div.business-name Navigation North Learning Solutions
      div.location Chico, CA
      div.description
        p Worked with a small team developing a niche, data-driven, web application using Bootstrap, Stylus, Backbone.js, Marionette.js, Laravel, and Redis.
      
    li.item(tab-index=0)
      ul.positions
        li.position Intern Web Developer
      div.business-name Primary Prevention Plus
      div.location Chico, CA
      div.description
        p Having an aptitude for programming caught the attention of a professor—leading to my first internship. Worked with a small team to develop a gamified Healthcare service using JavaScript, PHP, and mySQL.
      
    li.item(tab-index=0)
      ul.positions
        li.position Graphic and Media Designer
      div.business-name Freelancer
      div.location Remote
      div.description
        p I first gained an interest for technology via photography, and subsequently design. Utilizing mastery of Photoshop to designed banners, logos, and other visual and web content for various clients.

  h2 Synopsis
  
  p I have engineered and acted as a lead on a variety of projects. I am enamored with developing clean architectures—finding satisfaction and challenge in engineering scalable systems and the transition into a beautiful product. Additionally, I have an expertise in writing high performance browser applications due to my interest with browser-based video game development.
  
  p I tend to kickstart personal projects with some Node.js backend and/or a firebase instance.
  
  h2 Projects
  p I house a variety of projects on 
    a(href="https://github.com/RoryDuncan?tab=repositories", rel="noopener", target="_blank") GitHub
    |! 
    
  h3 Recent Notable Projects
  
  p
    a(href="https://lmytfy.com", rel="noopener", target="_blank") LMYTFY
    br
    | A challenge to build a lmgtfy-like site within 40 minutes. I succeeded!
    
  p
    a(href="https://github.com/RoryDuncan/suki.js", rel="noopener", target="_blank") Suki.js 
    br
    | A personal endeavor to create a modular and extensible ES7 game framework.
    
  p
    a(href="https://github.com/RoryDuncan/Portfolio-2017", rel="noopener", target="_blank") my portfolio 
    br
    | This site! I challenged myself to build a new portfolio which had a 100/100 Google Page Speed Insight rating. It is also statically rendered!