.work
  h1 Work History
  ul.work-history
  
    li.item
      ul.positions
        li.position Software Engineer
      div.business-name Work Truck Solutions
      div.location Chico, CA
      
    li.item
      ul.positions
        li.position Director of Project Development
        li.position Fullstack Developer
        li.position Author
      div.business-name Modern Developer, Inc.
      div.location Remote
      
    li.item
      ul.positions
        li.position Front End Developer
        li.position Client Support
      div.business-name Steps Marketing
      div.location Chico, CA
      
    li.item
      ul.positions
        li.position Junior Web Developer
      div.business-name Navigation North Learning Solutions
      div.location Chico, CA
      
    li.item
      ul.positions
        li.position Intern Web Developer
      div.business-name Primary Prevention Plus
      div.location Chico, CA
      
    li.item
      ul.positions
        li.position Graphic and Media Designer
      div.business-name Freelancer
      div.location Remote
      
      