.work
  
  
  h1 Work History
  ul.work-history
  
    li.item
      ul.positions
        li.position Software Engineer
      div.business-name Work Truck Solutions
      div.location Chico, CA
      div.description
        p This is my current position.
      
    li.item
      ul.positions
        li.position Director of Project Development
        li.position Fullstack Developer
        li.position Author
      div.business-name Modern Developer, Inc.
      div.location Rockwell, MD 
        | 
        i (Remote)
      div.description
        p A developer training academy in which I worked integratedly with the CEO to provide decisively meaningful direction and content, engineering company-wide solutions, and authoring materials for students.
      
    li.item
      ul.positions
        li.position Front End Developer
        li.position Client Support
      div.business-name Steps Marketing
      div.location Chico, CA
      div.description
        p Developed static web sites from design documents and provided support, maintainence, and updates using HTML, C#, LESS, MVC, .NET, & javascript.

    li.item
      ul.positions
        li.position Junior Web Developer
      div.business-name Navigation North Learning Solutions
      div.location Chico, CA
      div.description
        p Worked with a small team developing a niche, data-driven, web application using technologies such as Bootstrap, Stylus, Backbone.js, Marionette.js, Laravel, and Redis.
      
    li.item
      ul.positions
        li.position Intern Web Developer
      div.business-name Primary Prevention Plus
      div.location Chico, CA
      div.description
        p My first internship, in which a professor noticed my aptitude for programming. Developed a basic user-centered website with Javascript, PHP, and mySQL.
      
    li.item
      ul.positions
        li.position Graphic and Media Designer
      div.business-name Freelancer
      div.location Remote
      div.description
        p I first gained an interest for technology via photography, and subsequently design. I mastered Photoshop early in highschool and would design banners, logos, and other visual content for bands and other interested individuals, finding clients via MySpace. Interestingly enough, I learned rudimentary HTML and CSS by requests for designing MySpace profiles. Aware of the limited capabilities of HTML and CSS—at the time—I perceived visual design the key to impactful experiences on the web.

  
  h2 Synopsis
  p My experience with web development began with a focus on Javascript, due to it's foreseeable market growth. Resultingly, my preferred web stack is Node.js backend, with a state-driven UI framework for the front-end, if appropriate.
  
  p I usually kickstart my projects with firebase, and I prefer micro-service architectures over large, single-sourced architectures.
  
  h2 Projects
  p Aside from my Work History, I have a variety of projects on my 
    a(href="https://github.com/RoryDuncan?tab=repositories", rel="noopener", target="_blank") GitHub
    |—including 
    | 
    a(href="https://github.com/RoryDuncan/Portfolio-2017", rel="noopener", target="_blank") the source of this portfolio
    |.