.work
  
  h1 Work History
  ul.work-history
  
    li.item(tab-index=0)
      ul.positions
        li.position Software Engineer
      div.business-name Work Truck Solutions
      div.location Chico, CA
      div.description
        p This is my current position. I work with a large team of talented engineers in an agile environment.
      
    li.item(tab-index=0)
      ul.positions
        li.position Director of Project Development
        li.position Fullstack Developer
        li.position Author
      div.business-name Modern Developer, Inc.
      div.location Rockwell, MD 
        | 
        i (Remote)
      div.description
        p Worked integratedly with the CEO to decisively direct meaningful content, engineering company-wide solutions, and authoring materials for students at a prestigious "Dev-Bootcamp".
      
    li.item(tab-index=0)
      ul.positions
        li.position Front End Developer
        li.position Client Support
      div.business-name Steps Marketing
      div.location Chico, CA
      div.description
        p Worked independently to develop informational web sites from design sources and provided support, maintainence, and updates using HTML, C#, LESS, MVC, .NET, & JavaScript.

    li.item(tab-index=0)
      ul.positions
        li.position Junior Web Developer
      div.business-name Navigation North Learning Solutions
      div.location Chico, CA
      div.description
        p Worked with a small team developing a niche, data-driven, web application using Bootstrap, Stylus, Backbone.js, Marionette.js, Laravel, and Redis.
      
    li.item(tab-index=0)
      ul.positions
        li.position Intern Web Developer
      div.business-name Primary Prevention Plus
      div.location Chico, CA
      div.description
        p Having an aptitude for programming caught the attention of a professor—leading to my first internship. Worked with a small team to develop a gamified Healthcare service using JavaScript, PHP, and mySQL.
      
    li.item(tab-index=0)
      ul.positions
        li.position Graphic and Media Designer
      div.business-name Freelancer
      div.location Remote
      div.description
        p I first gained an interest for technology via photography, and subsequently design. Utilizing mastery of Photoshop to designed banners, logos, and other visual and web content for various clients.

  h2 Synopsis
  p I have engineered and acted as a lead on a variety of projects. I have a fond love of JavaScript and architecture—finding satisfaction and challenge in engineering perfect systems into a beautiful product.
  p For personal projects I tend to kickstart them with firebase.
  
  h2 Projects
  p I house a variety of projects on 
    a(href="https://github.com/RoryDuncan?tab=repositories", rel="noopener", target="_blank") GitHub
    |—including 
    | 
    a(href="https://github.com/RoryDuncan/Portfolio-2017", rel="noopener", target="_blank") the source of this portfolio
    |.
    
  p 
    | Project: 
    a(href="https://github.com/RoryDuncan/suki.js", rel="noopener", target="_blank") Suki.js
    | A larger personal endeavor I recently worked on—a JavaScript game framework—inspired by playground.js.